@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

*{
	box-sizing: border-box;
	font:  300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

html, body, #app, #app>div {
	height: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #222222;
}


