.mock-card-gradient{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 400px;
}

.mock-card-gradient-header{
	padding: 5px;
}


.mock-card-gradient-body{
	padding: 10px;
	text-justify: inter-word;
}