.sand-and-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.sandbox{
	width: 600px;
	height: 400px;
	border: 1px solid rgb(0, 0, 0);
	margin-left: 100px;
	margin-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	background-color: #F7F7F7
}