.auth-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth-form-title h2{
	font-size: 1.5rem;
}

.form-group{
	margin-bottom: 5px;
}

.auth-form-submit{

	background-color: transparent;
	border: 1px solid rgb(247, 247, 247, 0.5);
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	padding: 3px 18px;
}

.auth-form-submit:hover{
	background-color: rgb(118, 118, 118, 0.75);
}